# automatically set up remotes
[push]
	autoSetupRemote = true
	default = current

# show whole log history at once
[pager]
	log = false

# displays better `git diff`	
# to have this option, download: brew install git-delta
# [core]
# 	pager = delta
# [delta]
# 	line-numbers = true
